<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PequeñosPeatones"
        tools:targetApi="31" >
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pagina_Principal" />
        <activity android:name=".Adminitrador"/>
        <activity android:name=".Pantalla_Final"/>
        <activity android:name=".Pantalla_Senales"/>
        <activity android:name=".Pantalla_paso_Cebra"/>
        <activity android:name=".Pantalla_Paso_peatonal"/>
        <activity android:name=".pantalla_semaforo1"/>
        <activity android:name=".Minijuego_cebra"/>
        <activity android:name=".Pantalla_Semaforo2"/>
        <activity android:name=".Fallo"/>
        <activity android:name=".Fallo_Puente"/>
        <activity android:name=".Fallo_Cebra"/>
        <activity android:name=".Fallo_senal"/>
        <activity android:name=".MiniJuego_puente"/>
        <activity android:name=".Minijuegos"/>
        <activity android:name=".Minijuego_Senal"/>
        <activity android:name=".Pantalla_Registro"/>
        <activity android:name=".Ranking"/>
        <activity android:name=".Recompensa"/>
        <service android:name=".MusicService" />
    </application>

</manifest>